@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #0F172A;
  --color-accent: #22C55E;
  --color-background: #F8FAFC;
  --color-text: #111827;
  
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-background text-text font-sans;
  }
}

.prose p {
  @apply mb-4;
}

